@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('/font/idroid.otf');
    font-weight: normal;
}

:root{

    /*========== Colors ==========*/
    --primary-color:#28292B ;
    --primary-color-light: ;
    --secondary-color: ;
    --acent-color: ;
    --white-color: ;
    --black-color: ;

    /*========== Font and typography ==========*/
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --fonte-padrao:  'Inter', Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Inter', cursive;
    --fonte-android:'Android', cursive;
    --body-font: Arial, Verdana, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

a:houver{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-padrao);
    background: #000000;
    height: 8vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: block;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.nav-list.acitive{
    transform: translateX(0);
}

@media (max-widht: 999px) {
    body{
        overflow: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #000000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
}

main{
    background: url("../image/background.jpg") 
    no-repeat center center;
    background-size: cover;
    height: 92vh;
    font-family: var(--fonte-padrao);
}

p{
    color: white;
}


