@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root{
    /*========== Colors ==========*/
    --primary-color:#28292B;
    
    /*========== Font and typography ==========*/
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --fonte-padrao:  'Inter', Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: var(--fonte-padrao);
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

#logo{
    font-size: 1.5rem;
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: 5px;
}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .3rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px){
    
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background:var(--primary-color);
        z-index: 1000;
        height: 0;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }
    #menu a{
        padding: 1.rem 0;
        margin: 0 1rem;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        gap: .5rem;
    }
    /* Icone de Hamburguer feito com CSS */
    #hamburger{
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
header{
    max-width: 1440px;
    text-align:  center;
    line-height: 5.5rem;
}

body{
    background: url(/image/background.jpg) no-repeat right center fixed;
    font-family: var(--fonte-padrao);
}